# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [2]:
#Your code here
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [4]:
#Answer: 1
type(root)
num_of_child = 0
for child in root:
    num_of_child += 1
num_of_child

1

### How many different types of tags are there within the entire XML file?

In [6]:
# Your code here
count = 0
tags = []
for element in root.iter():
    tags.append(element.tag)
print(len(tags))
print(len(set(tags)))
set(tags)

3112
13

{'canclass',
 'candid',
 'candname',
 'election',
 'generalpay',
 'officeboro',
 'officecd',
 'officedist',
 'primarypay',
 'response',
 'row',
 'runoffpay',
 'totalpay'}

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [10]:
import pandas as pd

In [15]:
#Your code here
tags_count_dict = {}
tags_count_dict = dict.fromkeys(set(tags),0)
for element in root.iter():
    tags_count_dict[element.tag] += 1
df = pd.DataFrame.from_dict(tags_count_dict,orient='index')
df.columns = [ 'count']
df

            count
election      284
officeboro     21
candname      285
row           286
generalpay    284
primarypay    284
runoffpay     284
officedist    245
officecd      284
response        1
candid        285
canclass      285
totalpay      284

## JSON

### Open the same dataset from json

In [16]:
#Your code here
import json
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [18]:
### Your code here
data.keys()

dict_keys(['meta', 'data'])

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [20]:
#Your code here
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [27]:
#Your code here
type(data['data'][0])

list

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [28]:
type(data['meta']['view']['columns'])

list

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [29]:
#Your code here
# pd_dict = {'data': data['data'][0], 'meta':data['meta']['view']['columns']}
# df1 = pd.DataFrame(pd_dict)
# df1
df = pd.DataFrame(data['data'])
cols = [i['name'] for i in]

,data,meta
0,1,"{'id': -1, 'name': 'sid', 'dataTypeName': 'met..."
1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,"{'id': -1, 'name': 'id', 'dataTypeName': 'meta..."
2,1,"{'id': -1, 'name': 'position', 'dataTypeName':..."
3,1315925633,"{'id': -1, 'name': 'created_at', 'dataTypeName..."
4,392904,"{'id': -1, 'name': 'created_meta', 'dataTypeNa..."
5,1315925633,"{'id': -1, 'name': 'updated_at', 'dataTypeName..."
6,392904,"{'id': -1, 'name': 'updated_meta', 'dataTypeNa..."
7,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...","{'id': -1, 'name': 'meta', 'dataTypeName': 'me..."
8,None,"{'id': 75768833, 'name': 'ELECTION', 'dataType..."
9,CANDID,"{'id': 75768834, 'name': 'CANDID', 'dataTypeNa..."
10,CANDNAME,"{'id': 75768835, 'name': 'CANDNAME', 'dataType..."
11,None,"{'id': 75768836, 'name': 'OFFICECD', 'dataType..."
12,OFFICEBORO,"{'id': 75768837, 'name': 'OFFICEBORO', 'dataTy..."
13,None,"{'id': 75768838, 'name': 'OFFICEDIST', 'dataTy..."
14,CANCLASS,"{'id': 75768839, 'name': 'CANCLASS', 'dataType..."
15,None,"{'id': 75768840, 'name': 'PRIMARYPAY', 'dataTy..."
16,None,"{'id': 75768841, 'name': 'GENERALPAY', 'dataTy..."
17,None,"{'id': 75768842, 'name': 'RUNOFFPAY', 'dataTyp..."
18,None,"{'id': 75768843, 'name': 'TOTALPAY', 'dataType..."

### What's wrong with the first row of the DataFrame?

In [ ]:
#Your code here

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!